In [1]:
#Librerias a importar
import pandas as pd # Manipular conjunto de datos llamados dataframe
import numpy as np # Operaciones con matrices
import matplotlib.pyplot as plt # Gráficas
import sqlite3

In [4]:
#en este dataframe cargare el archivo que salio del openRefine
df1 = pd.read_csv("paisesinstant.csv", sep=',', encoding='latin1')

In [5]:
datos1=df1.copy()
datos1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 12 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Numero                                                                                   245 non-null    int64
 1   PaÃ­s (o territorio dependiente)                                                         245 non-null    object
 2   ProyecciÃ³n exponencial de la poblaciÃ³n                                                 245 non-null    float64
 3   Total mundial(%)                                                                         245 non-null    float64
 4   Cambio medio anual(%)                                                                    245 non-null    float64
 5   Cambio absoluto anual promedio                                                           245 non-null    int64
 6   Cambio medio abs. total anual(%)                                                         245 non-null    float64
 7   AÃ±os para eventual duplicaciÃ³n                                                         245 non-null    int64
 8   Censo mÃ¡s reciente,  proyecciÃ³n de la ONU o reloj de poblaciÃ³n nacional               245 non-null    int64
 9   Fecha de esta Ãºltima cifra de poblaciÃ³n                                                245 non-null    object
 10  Tipo                                                                                     245 non-null    object
 11  Enlace o hipervÃ­nculo (usualmente de tipo oficial) de esta Ãºltima cifra de poblaciÃ³n  245 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 23.1+ KB

In [6]:
df1.rename(columns={
     'Numero': 'N°', 
    'PaÃ­s (o territorio dependiente)': 'Pais',
    'ProyecciÃ³n exponencial de la poblaciÃ³n': 'Proy. Exp. de la poblacion', 
    'Total mundial(%)': '% del total',
    'Cambio medio anual(%)': 'Cambio Anual',
    'Cambio absoluto anual promedio':'Cambio Abs. anual prom',
    'Cambio medio abs. total anual(%)': 'cambio med. tot. Anual',
    'AÃ±os para eventual duplicaciÃ³n':'años para duplicacion',
    'Censo mÃ¡s reciente,  proyecciÃ³n de la ONU o reloj de poblaciÃ³n nacional':'Censo Actual',
    'Fecha de esta Ãºltima cifra de poblaciÃ³n': 'fecha ultima actualizacion',
    'Tipo':'Tipo de cifras',
    'Enlace o hipervÃ­nculo (usualmente de tipo oficial) de esta Ãºltima cifra de poblaciÃ³n': 'enlace'
        }, inplace=True)
df1.head()

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1.411278e+09,17.52,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1.407582e+09,17.47,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,3.376420e+08,4.19,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,2.841440e+08,3.53,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,2.530100e+08,3.14,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk

In [7]:
#Identificar la columna con el valor nulo
df1.isnull().sum()
#Estraer las filar con los valores nulos
filas_con_nulos = df1.loc[df1['cambio med. tot. Anual'].isnull()]
print("\nFilas con valores nulos:")
filas_con_nulos

Filas con valores nulos:

Empty DataFrame
Columns: [N°, Pais, Proy. Exp. de la poblacion, % del total, Cambio Anual, Cambio Abs. anual prom, cambio med. tot. Anual, años para duplicacion, Censo Actual, fecha ultima actualizacion, Tipo de cifras, enlace]
Index: []

>como este es el archivo limpio no hay necesidad de pasar los valores a numericos y como se aprecia el dataframe no tiene filas con lavores nulos

In [8]:
df1['Proy. Exp. de la poblacion']=df1['Proy. Exp. de la poblacion'].astype('int64')
df1['% del total']=df1['% del total'].astype('float')
df1['Cambio Anual']=df1['Cambio Anual'].astype('float')
df1['cambio med. tot. Anual']=df1['cambio med. tot. Anual'].astype('float')
df1['años para duplicacion']=df1['años para duplicacion'].astype('int64')
df1['años para duplicacion']=df1['años para duplicacion'].astype('int64')
df1['Censo Actual']=df1['Censo Actual'].astype('int64')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   N°                          245 non-null    int64
 1   Pais                        245 non-null    object
 2   Proy. Exp. de la poblacion  245 non-null    int64
 3   % del total                 245 non-null    float64
 4   Cambio Anual                245 non-null    float64
 5   Cambio Abs. anual prom      245 non-null    int64
 6   cambio med. tot. Anual      245 non-null    float64
 7   años para duplicacion       245 non-null    int64
 8   Censo Actual                245 non-null    int64
 9   fecha ultima actualizacion  245 non-null    object
 10  Tipo de cifras              245 non-null    object
 11  enlace                      245 non-null    object
dtypes: float64(3), int64(5), object(4)
memory usage: 23.1+ KB

In [11]:
paises_del_mundo=df1.copy()
paises_del_mundo.head()

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1411278000,17.52,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1407582000,17.47,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,337642000,4.19,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,284144000,3.53,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,253010000,3.14,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk

In [12]:
conexion=sqlite3.connect("bd1.db")
paises_del_mundo.to_sql("paises_del_mundo", conexion, index=False, if_exists='replace')
conexion.close()

In [13]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado.head()

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1411278000,17.52,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1407582000,17.47,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,337642000,4.19,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,284144000,3.53,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,253010000,3.14,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk

In [14]:
# Para verificar la estructura de la tabla paises_del_mundo
conexion = sqlite3.connect("bd1.db")
cursor = conexion.cursor()
cursor.execute("PRAGMA table_info(paises_del_mundo);")
columnas = cursor.fetchall()
print(columnas)
conexion.close()

[(0, 'N°', 'INTEGER', 0, None, 0), (1, 'Pais', 'TEXT', 0, None, 0), (2, 'Proy. Exp. de la poblacion', 'INTEGER', 0, None, 0), (3, '% del total', 'REAL', 0, None, 0), (4, 'Cambio Anual', 'REAL', 0, None, 0), (5, 'Cambio Abs. anual prom', 'INTEGER', 0, None, 0), (6, 'cambio med. tot. Anual', 'REAL', 0, None, 0), (7, 'años para duplicacion', 'INTEGER', 0, None, 0), (8, 'Censo Actual', 'INTEGER', 0, None, 0), (9, 'fecha ultima actualizacion', 'TEXT', 0, None, 0), (10, 'Tipo de cifras', 'TEXT', 0, None, 0), (11, 'enlace', 'TEXT', 0, None, 0)]

In [15]:
# insertar filas
conexion = sqlite3.connect("bd1.db")
conexion.execute("""
    insert into paises_del_mundo("N°", "Pais", "Proy. Exp. de la poblacion", "% del total", "Cambio Anual",
    "Cambio Abs. anual prom", "cambio med. tot. Anual", "años para duplicacion", "Censo Actual", "fecha ultima actualizacion",
    "Tipo de cifras", "enlace")
    values ('246', 'felicilandia', 350000, 0.0041, 0.90, 12000, 12.3, 55, 450000, '1/07/2024', 'A', 'pepitoperez.gov.co')
""")
conexion.commit()
conexion.close()

In [16]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1411278000,17.5200,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1407582000,17.4700,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,337642000,4.1900,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,284144000,3.5300,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,253010000,3.1400,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk
...,...,...,...,...,...,...,...,...,...,...,...,...
241,242,Australia,600,0.0000,1.74,0,0.00,40,593,2021/08/11,C,www.citypopulation.de
242,243,Islas Ultramarinas Menores de los Estados Unidos,100,0.0000,-4.96,0,0.00,0,190,2010/04/01,C,www.statoids.com
243,244,RU,30,0.0000,-1.11,0,0.00,0,35,2023/07/01,E,www.immigration.pn
244,245,Mundo,8056397000,100.0000,1.04,84953000,100.00,67,8193064000,2024/12/10,R,www.worldometers.info
245,246,felicilandia,350000,0.0041,0.90,12000,12.30,55,450000,1/07/2024,A,pepitoperez.gov.co

>Aqui se aprecia que se agrego un pais ficticio.

In [17]:
conexion = sqlite3.connect("bd1.db")
cursor = conexion.execute("""
    SELECT `Pais`, `Proy. Exp. de la poblacion`, `% del total`
    FROM paises_europa
""")

# Mostrar los resultados
for fila in cursor:
    print(fila)

conexion.close()

('India', 1411278, 17.52)
('China', 1407582, 17.47)
('Estados Unidos', 3376420, 4.19)
('Indonesia', 2841440, 3.53)
('Pakistï¿½', 2530100, 3.14)
('Nigeria', 2330770, 2.89)
('Brasil', 2134190, 2.65)
('Bangladï¿½', 1762840, 2.19)
('Rusia', 1464610, 1.82)
('Mï¿½ï¿½', 1333400, 1.66)
('Japï¿½', 1237150, 1.54)
('Filipinas', 1148080, 1.43)
('Repï¿½ï¿½blica Democrï¿½ï¿½tica d', 1110360, 1.38)
('Etiopï¿½', 1106010, 1.37)
('Egipto', 1074980, 1.33)
('Vietnam', 1018040, 1.26)
('Irï¿½', 862340, 1.07)
('Turquï¿½', 861610, 1.07)
('Alemania', 848860, 1.05)
('Reino Unido', 692760, 0.86)
('Tailandia', 669010, 0.83)
('Tanzania', 665560, 0.83)
('Francia', 663480, 0.82)
('Sudï¿½ï¿½f', 634280, 0.79)
('Italia', 589670, 0.73)
('Birmania', 569500, 0.71)
('Kenia', 535600, 0.66)
('Colombia', 534690, 0.66)
('Corea del Sur', 512080, 0.64)
('Sudï¿½', 508490, 0.63)
('Espaï¿½', 490710, 0.61)
('Uganda', 476350, 0.59)
('Argelia', 475060, 0.59)
('Argentina', 473450, 0.59)
('Irak', 449740, 0.56)
('Canadï¿', 417250, 0.52)
('Yemen', 411790, 0.51)
('Ucrania', 382790, 0.48)
('Uzbekistï¿½', 375510, 0.47)
('Polonia', 374660, 0.47)
('Marruecos', 369510, 0.46)
('Afganistï¿½', 360660, 0.45)
('Angola', 356660, 0.44)
('Malasia', 342320, 0.42)
('Perï¿', 341970, 0.42)
('Mozambique', 338480, 0.42)
('Ghana', 333860, 0.41)
('Arabia Saudita', 333610, 0.41)
('Costa de Marfil', 326220, 0.4)
('Madagascar', 316280, 0.39)
('Nepal', 300100, 0.37)
('Camerï¿½', 295000, 0.37)
('Venezuela', 284600, 0.35)
('Australia', 276060, 0.34)
('Nï¿½ï¿', 268460, 0.33)
('Corea del Norte', 261210, 0.32)
('Siria', 251710, 0.31)
('Mali', 243470, 0.3)
('Burkina Faso', 237470, 0.29)
('Repï¿½ï¿½blica de C', 234060, 0.29)
('Sri Lanka', 218220, 0.27)
('Zambia', 213730, 0.27)
('Malaui', 205060, 0.25)
('Kazajistï¿½', 202890, 0.25)
('Chile', 202190, 0.25)
('Somalia', 193320, 0.24)
('Rumania', 190700, 0.24)
('Chad', 189960, 0.24)
('Senegal', 188940, 0.23)
('Paï¿½ï¿½ses B', 180660, 0.22)
('Guatemala', 179650, 0.22)
('Camboya', 174610, 0.22)
('Ecuador', 174070, 0.22)
('Zimbabue', 169290, 0.21)
('Sudï¿½ï¿½n del', 155480, 0.19)
('Guinea', 140880, 0.17)
('Benï¿½', 139710, 0.17)
('Burundi', 139650, 0.17)
('Ruanda', 139580, 0.17)
('Tï¿½ï¿', 119300, 0.15)
('Bï¿½ï¿½l', 118780, 0.15)
('Haitï¿', 118400, 0.15)
('Jordania', 117540, 0.15)
('Bolivia', 114040, 0.14)
('Emiratos ï¿½ï¿½rabes Un', 112150, 0.14)
('Repï¿½ï¿½blica Domini', 110320, 0.14)
('Cuba', 109940, 0.14)
('Repï¿½ï¿½blica C', 108910, 0.14)
('Portugal', 106490, 0.13)
('Suecia', 105950, 0.13)
('Tayikistï¿½', 104760, 0.13)
('Grecia', 103000, 0.13)
('Azerbaiyï¿½', 102370, 0.13)
('Israel', 100350, 0.12)
('Honduras', 99660, 0.12)
('Papï¿½ï¿½a Nueva Gu', 98250, 0.12)
('Hungrï¿½', 95690, 0.12)
('Austria', 92110, 0.11)
('Bielorrusia', 91020, 0.11)
('Suiza', 90530, 0.11)
('Sierra Leona', 89830, 0.11)
('Togo', 84940, 0.11)
('Laos', 77510, 0.1)
('China', 75360, 0.09)
('Libia', 74200, 0.09)
('Turkmenistï¿½', 72960, 0.09)
('Kirguistï¿½', 72860, 0.09)
('Nicaragua', 69110, 0.09)
('Serbia', 65670, 0.08)
('Repï¿½ï¿½blica del C', 64670, 0.08)
('Bulgaria', 64130, 0.08)
('El Salvador', 63560, 0.08)
('Paraguay', 62200, 0.08)
('Singapur', 60980, 0.08)
('Dinamarca', 60010, 0.07)
('Lï¿½ï¿½', 58260, 0.07)
('Palestina', 56800, 0.07)
('Finlandia', 56400, 0.07)
('Noruega', 55990, 0.07)
('Liberia', 55760, 0.07)
('Irlanda', 54700, 0.07)
('Repï¿½ï¿½blica Centroafri', 54210, 0.07)
('Eslovaquia', 54200, 0.07)
('Nueva Zelanda', 53710, 0.07)
('Costa Rica', 53530, 0.07)
('Omï¿½', 52940, 0.07)
('Mauritania', 50850, 0.06)
('Kuwait', 49680, 0.06)
('Panamï¿', 41790, 0.05)
('Croacia', 38100, 0.05)
('Georgia', 36600, 0.05)
('Mongolia', 35870, 0.04)
('Eritrea', 35690, 0.04)
('Uruguay', 34990, 0.04)
('EE.ï¿½ï¿', 31800, 0.04)
('Bosnia y Herzegovina', 31530, 0.04)
('Namibia', 31390, 0.04)
('Catar', 30800, 0.04)
('Armenia', 29920, 0.04)
('Lituania', 28970, 0.04)
('Guinea Ecuatorial', 28460, 0.04)
('Jamaica', 27710, 0.03)
('Gambia', 26060, 0.03)
('Botsuana', 24390, 0.03)
('Gabï¿½', 24390, 0.03)
('Moldavia', 23700, 0.03)
('Albania', 23610, 0.03)
('Eslovenia', 21290, 0.03)
('Lesoto', 21250, 0.03)
('Letonia', 18550, 0.02)
('Macedonia del Norte', 18170, 0.02)
('Guinea-Bisï¿½', 18110, 0.02)
('Kosovo', 17040, 0.02)
('Barï¿½ï', 16030, 0.02)
('Estonia', 13830, 0.02)
('Timor Oriental', 13810, 0.02)
('Trinidad y Tobago', 13700, 0.02)
('Mauricio', 12660, 0.02)
('Suazilandia', 12430, 0.02)
('Yibuti', 10770, 0.01)
('Chipre', 94600, 0.01)
('Fiyi', 90100, 0.01)
('Francia', 88500, 0.01)
('Comoras', 86900, 0.01)
('Guyana', 83400, 0.01)
('Butï¿½', 78100, 0.01)
('Islas Salomï¿½', 75600, 0.01)
('China', 70400, 0.01)
('Luxemburgo', 68600, 0.01)
('Surinam', 63700, 0.01)
('Montenegro', 62400, 0.01)
('Repï¿½ï¿½blica ï¿½ï¿½rabe Saharaui Demo', 59600, 0.01)
('Cabo Verde', 58500, 0.01)
('Malta', 56800, 0.01)
('Maldivas', 55300, 0.01)
('Brunï¿½', 45800, 0.01)
('Bahamas', 41500, 0.01)
('Belice', 41400, 0.01)
('Islandia', 39100, 0.0)
('Francia', 37500, 0.0)
('Francia', 34800, 0.0)
('Francia', 33700, 0.0)
('Vanuatu', 32500, 0.0)
('Guayana Francesa', 30600, 0.0)
('Barbados', 28300, 0.0)
('Polinesia Francesa', 28000, 0.0)
('Francia', 27600, 0.0)
('Santo Tomï¿½ï¿½ y Prï¿½', 23100, 0.0)
('Samoa', 21200, 0.0)
('Santa Lucï¿½', 17400, 0.0)
('PB', 16100, 0.0)
('EE.ï¿½ï¿', 15100, 0.0)
('Kiribati', 12800, 0.0)
('Seychelles', 12300, 0.0)
('Granada', 11700, 0.0)
('San Vicente y las Granadinas', 11100, 0.0)
('PB', 10800, 0.0)
('Micronesia', 10700, 0.0)
('RU', 10500, 0.0)
('Tonga', 10000, 0.0)
('Antigua y Barbuda', 9600, 0.0)
('RU', 8800, 0.0)
('Andorra', 8700, 0.0)
('RU', 8500, 0.0)
('Islas Vï¿½ï¿½rgenes de los Estados Un', 7900, 0.0)
('Dominica', 6600, 0.0)
('RU', 6500, 0.0)
('RU', 6400, 0.0)
('Dinamarca', 5700, 0.0)
('Dinamarca', 5500, 0.0)
('RU', 5200, 0.0)
('EE.ï¿½ï¿', 4700, 0.0)
('San Cristï¿½ï¿½bal y Ni', 4700, 0.0)
('EE.ï¿½ï¿', 4500, 0.0)
('PB', 4100, 0.0)
('RU', 4000, 0.0)
('Liechtenstein', 4000, 0.0)
('Islas Marshall', 4000, 0.0)
('RU', 4000, 0.0)
('Mï¿½ï¿½', 3900, 0.0)
('San Marino', 3400, 0.0)
('Finlandia', 3100, 0.0)
('PB', 3100, 0.0)
('Francia', 3000, 0.0)
('Palaos', 1800, 0.0)
('RU', 1500, 0.0)
('Islas Cook', 1500, 0.0)
('Nauru', 1200, 0.0)
('Tuvalu', 1100, 0.0)
('Francia', 1100, 0.0)
('Francia', 1000, 0.0)
('Francia', 600, 0.0)
('RU', 500, 0.0)
('RU', 400, 0.0)
('RU', 400, 0.0)
('Australia', 300, 0.0)
('Noruega', 300, 0.0)
('Australia', 200, 0.0)
('Niue', 200, 0.0)
('NZ', 200, 0.0)
('Ciudad del Vaticano', 100, 0.0)
('Australia', 600, 0.0)
('Islas Ultramarinas Menores de los Estados Unidos', 100, 0.0)
('RU', 30, 0.0)
('Mundo', 8056397, 100.0)

In [18]:
import sqlite3

conexion = sqlite3.connect("bd1.db")
pais = input("Ingrese el pais: ")

cursor = conexion.execute("""
    SELECT `Pais`, `Proy. Exp. de la poblacion`, `% del total`, `Cambio Anual`, `Cambio Abs. anual prom`, 
           `cambio med. tot. Anual`, `años para duplicacion`, `Censo Actual`, `fecha ultima actualizacion`, 
           `Tipo de cifras`, `enlace`
    FROM paises_del_mundo
    WHERE `Pais` = ?
""", (pais,))  

# Obtener una fila
fila = cursor.fetchone()

if fila:
    print(fila)
else:
    print("No se encontró el país ingresado.")

conexion.close()

Ingrese el pais:  Australia

('Australia', 27606000, 0.34, 2.37, 653000, 0.77, 30, 27530000, '2024/12/10', 'R', 'www.abs.gov.au')

In [37]:
import sqlite3

conexion = sqlite3.connect("bd1.db")
cursor = conexion.cursor()

# Modificar los nombres de las columnas entre comillas invertidas
cursor.execute("""
    UPDATE paises_del_mundo
    SET `Proy. Exp. de la poblacion` = ?
    WHERE `Pais` = ?
""", (370000000, 'felicilandia'))

conexion.commit()
conexion.close()

In [38]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1411278000,17.5200,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1407582000,17.4700,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,337642000,4.1900,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,284144000,3.5300,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,253010000,3.1400,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk
...,...,...,...,...,...,...,...,...,...,...,...,...
238,241,Ciudad del Vaticano,1000,0.0000,0.97,0,0.00,72,1000,2025/01/01,O,population.un.org
239,242,Australia,370000000,0.0000,1.74,0,0.00,40,593,2021/08/11,C,www.citypopulation.de
240,243,Islas Ultramarinas Menores de los Estados Unidos,100,0.0000,-4.96,0,0.00,0,190,2010/04/01,C,www.statoids.com
241,244,RU,30,0.0000,-1.11,0,0.00,0,35,2023/07/01,E,www.immigration.pn
242,246,felicilandia,370000000,0.0041,0.90,12000,12.30,55,450000,1/07/2024,A,pepitoperez.gov.co

In [21]:
import sqlite3

conexion=sqlite3.connect("bd1.db")
cursor = conexion.cursor()

pais=input("ingrese el Pais a Eliminar: ")

cursor.execute("DELETE FROM paises_del_mundo WHERE Pais = ?", (pais,))

conexion.commit()
conexion.close()

ingrese el Pais a Eliminar:  Noruega

In [22]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,1,India,1411278000,17.5200,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
1,2,China,1407582000,17.4700,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
2,3,Estados Unidos,337642000,4.1900,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
3,4,Indonesia,284144000,3.5300,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
4,5,PakistÃ¡n,253010000,3.1400,2.56,6485000,7.63,27,241499431,2023/03/01,C,www.pbs.gov.pk
...,...,...,...,...,...,...,...,...,...,...,...,...
239,242,Australia,600,0.0000,1.74,0,0.00,40,593,2021/08/11,C,www.citypopulation.de
240,243,Islas Ultramarinas Menores de los Estados Unidos,100,0.0000,-4.96,0,0.00,0,190,2010/04/01,C,www.statoids.com
241,244,RU,30,0.0000,-1.11,0,0.00,0,35,2023/07/01,E,www.immigration.pn
242,245,Mundo,8056397000,100.0000,1.04,84953000,100.00,67,8193064000,2024/12/10,R,www.worldometers.info
243,246,felicilandia,350000,0.0041,0.90,12000,12.30,55,450000,1/07/2024,A,pepitoperez.gov.co

In [23]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo ORDER BY "Proy. Exp. de la poblacion" ASC;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,244,RU,30,0.00,-1.11,0,0.00,0,35,2023/07/01,E,www.immigration.pn
1,243,Islas Ultramarinas Menores de los Estados Unidos,100,0.00,-4.96,0,0.00,0,190,2010/04/01,C,www.statoids.com
2,242,Australia,600,0.00,1.74,0,0.00,40,593,2021/08/11,C,www.citypopulation.de
3,241,Ciudad del Vaticano,1000,0.00,0.97,0,0.00,72,1000,2025/01/01,O,population.un.org
4,238,Australia,2000,0.00,-1.69,0,0.00,0,1692,2021/08/11,C,www.citypopulation.de
...,...,...,...,...,...,...,...,...,...,...,...,...
239,4,Indonesia,284144000,3.53,1.17,3318000,3.91,60,282477584,2024/06/30,E,dispendukcapil.acehtimurkab.go.id
240,3,Estados Unidos,337642000,4.19,0.52,1754000,2.06,134,337539000,2024/12/10,R,www.census.gov
241,2,China,1407582000,17.47,-0.15,-2075000,0.00,0,1409670000,2023/12/31,E,www.stats.gov.cn
242,1,India,1411278000,17.52,0.90,12726000,14.98,77,1404910000,2024/07/01,A,web.archive.org
243,245,Mundo,8056397000,100.00,1.04,84953000,100.00,67,8193064000,2024/12/10,R,www.worldometers.info

In [24]:
conexion=sqlite3.connect("bd1.db")
consulta_sql = f'SELECT * FROM paises_del_mundo ORDER BY "Proy. Exp. de la poblacion" ASC LIMIT 7;'
resultado = pd.read_sql(consulta_sql, conexion)
resultado

,N°,Pais,Proy. Exp. de la poblacion,% del total,Cambio Anual,Cambio Abs. anual prom,cambio med. tot. Anual,años para duplicacion,Censo Actual,fecha ultima actualizacion,Tipo de cifras,enlace
0,244,RU,30,0.0,-1.11,0,0.0,0,35,2023/07/01,E,www.immigration.pn
1,243,Islas Ultramarinas Menores de los Estados Unidos,100,0.0,-4.96,0,0.0,0,190,2010/04/01,C,www.statoids.com
2,242,Australia,600,0.0,1.74,0,0.0,40,593,2021/08/11,C,www.citypopulation.de
3,241,Ciudad del Vaticano,1000,0.0,0.97,0,0.0,72,1000,2025/01/01,O,population.un.org
4,238,Australia,2000,0.0,-1.69,0,0.0,0,1692,2021/08/11,C,www.citypopulation.de
5,239,Niue,2000,0.0,-0.96,0,0.0,0,1689,2022/11/11,C,www.citypopulation.de
6,240,NZ,2000,0.0,0.13,0,0.0,520,1497,2022/07/01,E,sdd.spc.int

In [25]:
import sqlite3
import pandas as pd

conexion = sqlite3.connect("bd1.db")

consulta_sql = '''
SELECT SUM("Proy. Exp. de la poblacion") AS Total_Población 
FROM paises_del_mundo;
'''
resultado = pd.read_sql(consulta_sql, conexion)
print(resultado)
conexion.close()

   Total_Población
0      16107581730

In [26]:
import sqlite3

conexion=sqlite3.connect("bd1.db")
cursor = conexion.cursor()

pais=input("ingrese el Pais a Eliminar: ")

cursor.execute("DELETE FROM paises_del_mundo WHERE Pais = ?", (pais,))

conexion.commit()
conexion.close()

ingrese el Pais a Eliminar:  Mundo

In [27]:
import sqlite3
import pandas as pd

conexion = sqlite3.connect("bd1.db")

consulta_sql = '''
SELECT SUM("Proy. Exp. de la poblacion") AS Total_Población 
FROM paises_del_mundo;
'''
resultado = pd.read_sql(consulta_sql, conexion)
print(resultado)
conexion.close()

   Total_Población
0       8051184730

>en las celdas anteriores habia sumado el total de la poblacion 2 meses ya que en la ultima fila llamada mundo estaba este valor, por lo que elimino ese pais y procedo a realizar la suma nuevamente.

In [28]:
import sqlite3
import pandas as pd
conexion = sqlite3.connect("bd1.db")
consulta_sql = '''
SELECT "Cambio Anual", SUM("Proy. Exp. de la poblacion") AS Total_Población 
FROM paises_del_mundo
GROUP BY "Cambio Anual";
'''

resultado = pd.read_sql(consulta_sql, conexion)
print(resultado)
conexion.close()

     Cambio Anual  Total_Población
0           -4.96              100
1           -2.74             5000
2           -2.18          2370000
3           -2.13            40000
4           -1.98            79000
..            ...              ...
195          3.86         15548000
196          4.21            52000
197          4.67             3000
198          4.71          5294000
199         27.18          2846000

[200 rows x 2 columns]

In [29]:
#consulta paises con proyeccion entre 800000 y 1200000
import sqlite3
import pandas as pd
conexion = sqlite3.connect("bd1.db")
consulta_sql = '''
SELECT "Pais"
FROM paises_del_mundo
WHERE "Proy. Exp. de la poblacion" BETWEEN 800000 AND 1200000 
ORDER BY "Proy. Exp. de la poblacion" ASC;
'''
resultado = pd.read_sql(consulta_sql, conexion)
print(resultado)
conexion.close()

      Pais
0   Guyana
1  Comoras
2  Francia
3     Fiyi
4   Chipre
5   Yibuti

In [30]:
import sqlite3
conexion = sqlite3.connect("bd1.db")
pais = input("Ingrese el nombre del Pais: ")
cursor = conexion.execute("""
    SELECT "Pais", "Proy. Exp. de la poblacion", "% del total", "Cambio Anual", "Cambio Abs. anual prom", 
           "cambio med. tot. Anual", "años para duplicacion", "Censo Actual", "fecha ultima actualizacion", 
           "Tipo de cifras", "enlace"
    FROM paises_del_mundo
    WHERE "Pais" LIKE '%' || ? || '%'
""", (pais,))
fila = cursor.fetchone()
if fila:
    print(fila)
else:
    print("No se encontró el país ingresado.")
conexion.close()

Ingrese el nombre del Pais:  China

('China', 1407582000, 17.47, -0.15, -2075000, 0.0, 0, 1409670000, '2023/12/31', 'E', 'www.stats.gov.cn')

In [32]:
import shutil
import pandas as pd
import sqlite3

# Paso 1: Mover el archivo CSV a una ubicación accesible
origen = r"C:\Users\elcar\paisesinstant.csv"  # Ruta actual del archivo
destino = r"C:\Users\elcar\Documents\paisesinstant.csv"  # Nueva ubicación

# Muevo el archivo
shutil.move(origen, destino)

print(f"Archivo movido a: {destino}")

# Paso 2: Leo el archivo CSV desde la nueva ubicación
df1 = pd.read_csv(destino, sep=',', encoding='latin1')

# Paso 3: Conecto a SQLite
conn = sqlite3.connect('mi_base_de_datos.db')

# Paso 4: Guardo el DataFrame en SQLite
df1.to_sql('nombre_de_la_tabla', conn, if_exists='replace', index=False)

print("Archivo cargado en SQLite con éxito.")

# Paso 5: Valido la carga de datos
query_result = pd.read_sql('SELECT * FROM nombre_de_la_tabla LIMIT 5', conn)
print(query_result)


conn.close()

Archivo movido a: C:\Users\elcar\Documents\paisesinstant.csv
Archivo cargado en SQLite con éxito.
   Numero PaÃ­s (o territorio dependiente)  \
0       1                            India
1       2                            China
2       3                   Estados Unidos
3       4                        Indonesia
4       5                        PakistÃ¡n

   ProyecciÃ³n exponencial de la poblaciÃ³n  Total mundial(%)  \
0                              1.411278e+09             17.52
1                              1.407582e+09             17.47
2                              3.376420e+08              4.19
3                              2.841440e+08              3.53
4                              2.530100e+08              3.14

   Cambio medio anual(%)  Cambio absoluto anual promedio  \
0                   0.90                        12726000
1                  -0.15                        -2075000
2                   0.52                         1754000
3                   1.17                         3318000
4                   2.56                         6485000

   Cambio medio abs. total anual(%)  AÃ±os para eventual duplicaciÃ³n  \
0                             14.98                                77
1                              0.00                                 0
2                              2.06                               134
3                              3.91                                60
4                              7.63                                27

   Censo mÃ¡s reciente,  proyecciÃ³n de la ONU o reloj de poblaciÃ³n nacional  \
0                                         1404910000
1                                         1409670000
2                                          337539000
3                                          282477584
4                                          241499431

  Fecha de esta Ãºltima cifra de poblaciÃ³n Tipo  \
0                                2024/07/01    A
1                                2023/12/31    E
2                                2024/12/10    R
3                                2024/06/30    E
4                                2023/03/01    C

  Enlace o hipervÃ­nculo (usualmente de tipo oficial) de esta Ãºltima cifra de poblaciÃ³n
0                                    web.archive.org
1                                   www.stats.gov.cn
2                                     www.census.gov
3                  dispendukcapil.acehtimurkab.go.id
4                                     www.pbs.gov.pk

In [33]:
import os


print("Directorio actual:", os.getcwd())

# Verifico si el archivo existe
archivo_db = "mi_base_de_datos.db"
if os.path.exists(archivo_db):
    print(f"El archivo {archivo_db} está disponible.")
else:
    print(f"El archivo {archivo_db} no fue encontrado.")

Directorio actual: C:\Users\elcar
El archivo mi_base_de_datos.db está disponible.

In [35]:
from IPython.display import FileLink

# Generar el enlace para el archivo
archivo_db = "mi_base_de_datos.db"
FileLink(archivo_db)

C:\Users\elcar\mi_base_de_datos.db